.table_details{
    width: 100%;
}

.stock_id{
    width: 110px;
  }
  .slno{
    width: 100%;
  }
  .tdslno{
    width: 20px !important;
  }

  .numeric-input {
    text-align: right;
    appearance: auto;
  -webkit-appearance: none;
  }
  .textright{
    text-align: right;
  }
  /* style="width: 10px !important;"
  style="width: 100%;"
  */