.container
{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.firstRow
{
  height: 80px;
  /* background-color: blue; */
}

.secondRow
{
  /* background-color: rgba(226, 233, 223, 0.5); */
  flex: 1;
  /* height: 70%; */
}

.thirdRow
{
  height: 50px;
  /* background-color: yellow; */
}
.name{
  font-weight: bold;
  text-align: left;
}

.value{
    text-align:left;
}
Input.textwidht{
  width: 100%;
 }


